<%- model_class = @question.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>

  <div class="mod_action btn-group">
    <button class="btn btn-primary"><%=t('.operate', :default => t("helpers.links.operate", :model => model_class.model_name.human)) %></button>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>
        <% if can? :read, Question %>
          <%= link_to t('.index', :default => t("helpers.links.index", :model => model_class.model_name.human)),
                    questions_path %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<%= render 'form' %>
