<%- model_class = Recommend::RecommendOther.new.class -%>
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "Editing #{model_class.model_name.human}") %></h1>

<%= render 'form' %>
