<h1>Listing work_dashboards</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_dashboards.each do |work_dashboard| %>
  <tr>
    <td><%= link_to 'Show', work_dashboard %></td>
    <td><%= link_to 'Edit', edit_work_dashboard_path(work_dashboard) %></td>
    <td><%= link_to 'Destroy', work_dashboard, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dashboard', new_work_dashboard_path %>
