<!-- container S -->
<div class="layout">
	<div class="about_bbt">
		<h2>关于棒棒糖</h2>
		<div class="aboutus_box">
			<div class="hd"><h3>概述</h3></div>
			<div class="bd">
			<p>棒棒糖亲子问答社区（www.bbtang.com），由知名亲子专家妈咪JANE创立，于2012年9月上线，为全球华人（准）父母传播科学、实用和时尚的孕育观。妈咪JANE提出“影响一代新妈妈，造就一代新未来”的个人理念，以自身的经历和榜样作用来鼓励广大（准）父母提升自己，智慧当爸妈，质量育儿。</p>
			</div>
		</div>
		<div class="aboutus_box">
			<div class="hd"><h3>我们的理念</h3></div>
			<div class="bd">
			<p>搭建快速精准的问答平台、提供轻松便捷的自学空间、创设精彩多元的生活圈子</p>
			</div>
		</div>
		<div class="aboutus_box">
			<div class="hd"><h3>我们的特色服务</h3></div>
			<div class="bd">
			<h4>快速精准的答案推送</h4>
			<p>妈妈随时随地提出孕育难题，平台即会提供多纬度的精准回答，包括：专家答疑和蜜糖经验，以及来自知识库的文章，实现快速+精准推送信息和答案的全新服务概念，方便妈妈及时解决孕育难题，轻松育儿。</p>
			<h4>强大细微的搜索功能</h4>
			<p>我们为妈妈精心准备了分类细致、内容专业的孕育生活知识库，将健康、教育、心理、时尚育儿等经典知识加以选择收录，方便妈妈随时阅读；归纳整理出最热、最新的问答库，方便妈妈及时查找相关答案。妈妈直接搜索或者点击热门标签，即能阅读文章，查看问答，轻松自学。</p>
			<h4>灵活开放的表现形式</h4>
			<p>平台表现形式更具开放性，提问、回答、评论无字数限制，有助妈妈将宝宝行为习惯、亲子沟通等信息表述得更清晰明了；上传文件不拘泥于单一形式，图片、音频、视频都可以作为妈妈传递新知的辅助工具；分享交流更轻松多变，主题圈、线上线下活动等，都能充分调动妈妈互动的积极性。</p>
			</div>
		</div>
		<div class="aboutus_box">
			<div class="hd"><h3>我们的会员</h3></div>
			<div class="bd">
			<p>用户注册登陆后成为会员，社区按照会员的领域专长、兴趣爱好以及级别贡献等，分别赋予三个不同的昵称：</p>
			<ol class="ab_list">
			  <li>1．<strong>蜜糖会员</strong>：注册成功后的蜜糖会员，可随时随地提出疑问，学习新知，参与考试，进行PK，发表评论，分享信息。</li>
			  <li>2．<strong>蜜糖达人</strong>：在孕育和亲子生活各方面有独到见解、活跃度高、乐于助人的蜜糖会员，可逐步升级成为蜜糖达人，更加有激情、更加积极主动地为蜜糖妈妈们提供帮助。</li>
			  <li>3．<strong>蜜糖天使</strong>：应邀加入棒棒糖的专家团队，凭借其权威的专业知识技能，对待工作、生活的满腔热忱，以及助人为乐的精神，帮助父母解决孕育的疑问。</li>
			</ol>
			</div>
		</div>
	</div>
</div>
<!-- container E --> 
