<ul class="nav nav-tabs" id= "tag_cloud_head">
  <!--li class="active">
    <%# link_to t("helpers.links.index", :model => Knowledge.new.class.model_name.human),hot_tags_path(:model => Knowledge),:remote => true %>
  </li-->
  <% taggable_type_mod.each do |mod|%>
    <li <%= "class='active'" if mod.eql? @model_class %>>
      <%= link_to t("helpers.links.index", :model => mod.model_name.human),hot_tags_path(:model => mod),:remote => true %>
    </li>
  <% end %>

</ul>
<%= render 'detail', @tags_hash %>
