<h3><%= name %></h3>
<ul class="nav nav-list">
  <% if (subjects = find_setting_by_type(all_subject_types[self.controller_name])).present?%>

    <% subjects.each do |subject| %>
      <li class="<%= 'active' if params[:controller].gsub(/\w+([\/]+)/,'').eql? subject[0]%>">
        <% if subject[0] %>
          <!--%= link_to subject.name, "javascript:;" %-->
        <% else %>
          <%= link_to subject[0], "/admin/#{subject[1]}" %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
