<h3><%= type.name %></h3>
<ul class="nav nav-list">
  <% type.setting_subjects.each do |subject| %>
    <li class="<%= 'active' if params[:controller].gsub(/\w+([\/]+)/,'').eql? subject.controller_name%>">
      <% if subject.controller_name.blank? %>
        <!--%= link_to subject.name, "javascript:;" %-->
      <% else %>
        <%= link_to subject.name, "/admin/#{subject.controller_name}" %>
      <% end %>
    </li>
  <% end %>
</ul>
